<div class="content">
  <div>
    <po-widget [p-title]="title">
      <div class="po-row">
        <po-textarea class="po-md-12" p-label="Bin Value" [(ngModel)]="binValue" [ngModelOptions]="{standalone: true}"
          (keypress)="onKeyPress($event)">
        </po-textarea>
      </div>
      <div class="po-row">
        <po-textarea class="po-md-12" p-label="Dec Value" p-readonly="true" [(ngModel)]="decValue"
          [ngModelOptions]="{standalone: true}">
        </po-textarea>
      </div>
      <hr>
      <div class="po-row">
        <po-button p-label="Convert" (p-click)="convert()"></po-button>
      </div>
    </po-widget>
  </div>
</div>
